<link rel="stylesheet" href="/stylesheets/navbar.css">


<footer class="footer bg-dark-1 py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; CampGenie 2020</span>
    </div>
</footer>