@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Montserrat:wght@400;700;800;900&display=swap');

body {
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center; */
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,24,142,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); 
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5); */
    background: #fff;
}
.cover-container {
  max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;
    color: #03045E;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(3, 31, 151);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: #03045E;
    border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
    color: rgb(245, 241, 241);
    text-shadow: none;
}

h1{
    font-size: 4rem;
    
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(90deg, #020024 0%, #18188e 35%, #00d4ff 100%);

    /* background: linear-gradient(90deg, rgba(24,24,142,1) 35%, rgba(0,212,255,1) 100%); */
    /* // background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    font-size: 1.5rem;
    font-family: 'Fredoka', sans-serif;
    color: #03045E;

}
h3{
    font-family: 'Fredoka', sans-serif;
    color: #03045E;
}

.btn{
    background: linear-gradient(to right, rgba(24,24,142,1), rgba(0,212,255,1));
    color: #fff;

}

h5{
    font-family: 'Fredoka', sans-serif;
    color: #03045E;
}